<?xml version="1.0" ?>
<robot name="robotarm">
  <link name="BasePlate_1">
    <visual name="BasePlate_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BasePlate_1.stl"/>
      </geometry>
      <material name="BasePlate_1-material">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision name="BasePlate_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BasePlate_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="-0.07757999 0 -0.087" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Base_1">
    <visual name="Base_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Base_1.stl"/>
      </geometry>
      <material name="Base_1-material">
        <color rgba="1 0.5 0 1"/>
      </material>
    </visual>
    <collision name="Base_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Base_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.4393887"/>
      <inertia ixx="0.018625078" iyy="0.048901916" izz="0.046962543" ixy="0.0045387471" ixz="-9.6698239e-05" iyz="0.00011748342"/>
      <origin xyz="-0.19233131 0.092676032 -0.00048571119" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Shoulder_1">
    <visual name="Shoulder_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shoulder_1.stl"/>
      </geometry>
      <material name="Shoulder_1-material">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision name="Shoulder_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shoulder_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.8685868"/>
      <inertia ixx="0.0455963" iyy="0.049662008" izz="0.036142302" ixy="-0.0027311161" ixz="0.00083444863" iyz="0.00076739407"/>
      <origin xyz="-0.023034675 -0.0051026359 0.10410431" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="BaseBelt_657_1">
    <visual name="BaseBelt_657_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BaseBelt_657_1.stl"/>
      </geometry>
      <material name="BaseBelt_657_1-material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision name="BaseBelt_657_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BaseBelt_657_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015333728"/>
      <inertia ixx="0.00011799921" iyy="2.5903493e-05" izz="0.00014332769" ixy="-1.4061969e-06" ixz="0" iyz="0"/>
      <origin xyz="0.0012827332 0.063839416 -6.1845626e-11" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Elbow_1">
    <visual name="Elbow_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Elbow_1.stl"/>
      </geometry>
      <material name="Elbow_1-material">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision name="Elbow_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Elbow_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.7123616"/>
      <inertia ixx="0.015568749" iyy="0.043969688" izz="0.034881602" ixy="-0.00019508348" ixz="-0.001626311" iyz="-4.32451e-05"/>
      <origin xyz="0.11414173 -0.00045013304 -0.092038324" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="ShoulderBeltDriving_537_1">
    <visual name="ShoulderBeltDriving_537_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ShoulderBeltDriving_537_1.stl"/>
      </geometry>
      <material name="ShoulderBeltDriving_537_1-material">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision name="ShoulderBeltDriving_537_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ShoulderBeltDriving_537_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012963036"/>
      <inertia ixx="1.4908304e-05" iyy="6.560604e-05" izz="8.002823e-05" ixy="8.187628e-06" ixz="0" iyz="0"/>
      <origin xyz="-0.052061734 0.0069305863 7.7139283e-13" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="ShoulderBeltDriven_657_1">
    <visual name="ShoulderBeltDriven_657_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ShoulderBeltDriven_657_1.stl"/>
      </geometry>
      <material name="ShoulderBeltDriven_657_1-material">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision name="ShoulderBeltDriven_657_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ShoulderBeltDriven_657_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.020354711"/>
      <inertia ixx="4.9898785e-05" iyy="0.00013777319" izz="0.000186315" ixy="-4.1021433e-05" ixz="1.1157532e-16" iyz="0"/>
      <origin xyz="0.12647398 0.054920364 -1.0730945e-13" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Forearm_1">
    <visual name="Forearm_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Forearm_1.stl"/>
      </geometry>
      <material name="Forearm_1-material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision name="Forearm_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Forearm_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.7004218"/>
      <inertia ixx="0.032845701" iyy="0.0089099153" izz="0.031656688" ixy="0.0012593028" ixz="-7.5458294e-05" iyz="0.00083880348"/>
      <origin xyz="-0.0079134694 0.083837233 -0.11270276" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="ElbowBeltDriving_399_1">
    <visual name="ElbowBeltDriving_399_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ElbowBeltDriving_399_1.stl"/>
      </geometry>
      <material name="ElbowBeltDriving_399_1-material">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision name="ElbowBeltDriving_399_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ElbowBeltDriving_399_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0094055612"/>
      <inertia ixx="4.3491598e-06" iyy="2.8878522e-05" izz="3.2874973e-05" ixy="-1.8845622e-07" ixz="0" iyz="0"/>
      <origin xyz="-0.08091412 0.00070768069 -1.6585863e-16" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="ElbowBeltDriven_480_1">
    <visual name="ElbowBeltDriven_480_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ElbowBeltDriven_480_1.stl"/>
      </geometry>
      <material name="ElbowBeltDriven_480_1-material">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision name="ElbowBeltDriven_480_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ElbowBeltDriven_480_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011213862"/>
      <inertia ixx="7.8915651e-06" iyy="4.6056832e-05" izz="5.3527877e-05" ixy="1.1143546e-06" ixz="0" iyz="0"/>
      <origin xyz="-0.097351122 -0.0026630787 -3.1427118e-14" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="WTFBelt_1">
    <visual name="WTFBelt_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WTFBelt_1.stl"/>
      </geometry>
      <material name="WTFBelt_1-material">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
    <collision name="WTFBelt_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WTFBelt_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011060883"/>
      <inertia ixx="1.2466894e-05" iyy="2.0544945e-05" izz="2.1149053e-05" ixy="4.3296078e-11" ixz="-1.6729646e-06" iyz="6.2676763e-12"/>
      <origin xyz="0.040411061 -2.1743118e-08 -0.027192945" rpy="0 0 0"/>
    </inertial>
  </link>
  <joint name="fix_base" type="fixed">
    <origin xyz="0.03742001 0 -0.178" rpy="1.5707963 0 0"/>
    <parent link="BasePlate_1"/>
    <child link="Base_1"/>
  </joint>
  <joint name="dof_Axis1" type="revolute">
    <origin xyz="-0.115 0.137 -3.571554e-34" rpy="-1.5707963 0 0"/>
    <parent link="Base_1"/>
    <child link="Shoulder_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1" velocity="1" lower="-3.1415927" upper="3.1415927"/>
  </joint>
  <joint name="fix_BaseBeltDriving" type="fixed">
    <origin xyz="-0.115 0.155 -3.3918365e-34" rpy="1.5707963 -1.5707963 0"/>
    <parent link="Base_1"/>
    <child link="BaseBelt_657_1"/>
  </joint>
  <joint name="dof_Axis2" type="revolute">
    <origin xyz="0.025 -0.094 0.213" rpy="1.5707963 0 -1.8922194e-09"/>
    <parent link="Shoulder_1"/>
    <child link="Elbow_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1" velocity="1" lower="-2.7925268" upper="0.34906585"/>
  </joint>
  <joint name="fix_ShoulderBeltDriving" type="fixed">
    <origin xyz="-0.16 -0.011 0.1355" rpy="-1.5707963 0 3.1415927"/>
    <parent link="Shoulder_1"/>
    <child link="ShoulderBeltDriving_537_1"/>
  </joint>
  <joint name="fix_ShoulderBeltDriven" type="fixed">
    <origin xyz="-0.16 -0.055 0.1355" rpy="1.5707963 0 -1.8922194e-09"/>
    <parent link="Shoulder_1"/>
    <child link="ShoulderBeltDriven_657_1"/>
  </joint>
  <joint name="dof_Axis3" type="revolute">
    <origin xyz="0.3 -0.0002 0.004" rpy="0 0 -1.5707963"/>
    <parent link="Elbow_1"/>
    <child link="Forearm_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1" velocity="1" lower="-2.0943951" upper="2.268928"/>
  </joint>
  <joint name="fix_ElbowBeltDriving" type="fixed">
    <origin xyz="0.02 0 -0.076" rpy="3.1415927 0 3.1415927"/>
    <parent link="Elbow_1"/>
    <child link="ElbowBeltDriving_399_1"/>
  </joint>
  <joint name="fix_ElbowBeltDriven" type="fixed">
    <origin xyz="0.151 -0.0002 -0.028" rpy="3.1415927 0 3.1415927"/>
    <parent link="Elbow_1"/>
    <child link="ElbowBeltDriven_480_1"/>
  </joint>
  <joint name="fix_Stage4Belt" type="fixed">
    <origin xyz="-0.015 0.005 -0.1165" rpy="1.5707963 0 0"/>
    <parent link="Forearm_1"/>
    <child link="WTFBelt_1"/>
  </joint>
</robot>
