<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotarm_ros2_control" params="name use_hardware:=false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_hardware}">
          <plugin>moteus_interface/MoteusInterface</plugin>
        </xacro:if>
        <xacro:unless value="${use_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_interfaces">true</param>
        </xacro:unless>
      </hardware> 

      <joint name="axis1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
      </joint>

      <joint name="axis2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
      </joint>

      <joint name="axis3">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
      </joint>

      <joint name="axis4">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
      </joint>

      <joint name="axis5">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <param name="encoder_offset">0.0</param>
        </joint>

        <joint name="axis6">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <param name="encoder_offset">0.0</param>
        </joint>

      <transmission name="axis1_transmission">
        <plugin>identity</plugin>
        <joint name="axis1" role="joint1"/>
        <actuator name="axis1_motor" role="actuator1"/>
        <param name="axis1_motor.can_id">1</param>
      </transmission>

      <transmission name="axis2_transmission">
        <plugin>identity</plugin>
        <joint name="axis2" role="joint1"/>
        <actuator name="axis2_motor" role="actuator1"/>
        <param name="axis2_motor.can_id">2</param>
      </transmission>

      <transmission name="axis3_transmission">
        <plugin>identity</plugin>
        <joint name="axis3" role="joint1"/>
        <actuator name="axis3_motor" role="actuator1"/>
        <param name="axis3_motor.can_id">3</param>
      </transmission>

        <transmission name="axis4_transmission">
          <plugin>identity</plugin>
          <joint name="axis4" role="joint1"/>
          <actuator name="axis4_motor" role="actuator1"/>
          <param name="axis4_motor.can_id">4</param>
        </transmission>

        <transmission name="wrist_transmission">
          <plugin>differential</plugin>
          <joint name="axis5" role="joint1"/>
          <joint name="axis6" role="joint2"/>
          <actuator name="wrist_a" role="actuator1"/>
          <actuator name="wrist_b" role="actuator2"/>
          <param name="wrist_a.can_id">5</param>
          <param name="wrist_b.can_id">6</param>
          <param name="ratio">1.0</param>
          <param name="joint1_encoder_actuator">wrist_a</param>
          <param name="joint2_encoder_actuator">wrist_b</param>
        </transmission>

      </ros2_control>
  </xacro:macro>
</robot>