<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotarm_ros2_control" params="name use_hardware:=false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_hardware}">
          <plugin>moteus_interface/MoteusInterface</plugin>
        </xacro:if>
        <xacro:unless value="${use_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_interfaces">true</param>
        </xacro:unless>
      </hardware> 

      <joint name="axis1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
        <param name="encoder_actuator">axis1_motor</param>
      </joint>

      <joint name="axis2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
        <param name="encoder_actuator">axis2_motor</param>
      </joint>

      <joint name="axis3">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
        <param name="encoder_actuator">axis3_motor</param>
      </joint>

      <!--
      <joint name="axis4">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="encoder_offset">0.0</param>
        <param name="encoder_actuator">axis4_motor</param>
      </joint>

      <joint name="axis5">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <param name="encoder_offset">0.0</param>
          <param name="encoder_actuator">wrist_a</param>
        </joint>

        <joint name="axis6">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <param name="encoder_offset">0.0</param>
          <param name="encoder_actuator">wrist_b</param>
        </joint>
      -->

      <transmission name="axis1_transmission">
        <plugin>identity</plugin>
        <joint name="axis1"/>
        <actuator name="axis1_motor"/>
        <param name="axis1_motor.can_id">1</param>
      </transmission>

      <transmission name="axis2_transmission">
        <plugin>identity</plugin>
        <joint name="axis2"/>
        <actuator name="axis2_motor"/>
        <param name="axis2_motor.can_id">2</param>
      </transmission>

      <transmission name="axis3_transmission">
        <plugin>identity</plugin>
        <joint name="axis3"/>
        <actuator name="axis3_motor"/>
        <param name="axis3_motor.can_id">3</param>
      </transmission>

      <!--
        <transmission name="axis4_transmission">
          <plugin>identity</plugin>
          <joint name="axis4"/>
          <actuator name="axis4_motor"/>
          <param name="axis4_motor.can_id">4</param>
        </transmission>

        <transmission name="wrist_transmission">
          <plugin>differential</plugin>
          <joint name="axis5"/>
          <joint name="axis6"/>
          <actuator name="wrist_a"/>
          <actuator name="wrist_b"/>
          <param name="wrist_a.can_id">5</param>
          <param name="wrist_b.can_id">6</param>
          <param name="ratio">1.0</param>
        </transmission>
      -->

      </ros2_control>
  </xacro:macro>
</robot>